@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*<form method="post">
        <div class="container">
            <label asp-for="Person.Login" for="uname"><b>Username</b></label>
            <input asp-for="Person.Login" type="text" placeholder="Enter Username" name="uname" required>

            <label asp-for="Person.Password" for="psw"><b>Password</b></label>
            <input asp-for="Person.Password" type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" value="Login">Login</button>
            <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>*@

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    *@
</div>
